/* CSS Document */

.row {
    margin-left: -15px;
    margin-right: -15px
}

.text-center {
    text-align: center
}

.info-popover-group {
    width: 220px;
/*		height: 220px;*/
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.info-popover-group .popover-parent {
    position: relative
}

.info-popover-group img {
    margin-left: auto;
    margin-right: auto
}

.last {
    margin-bottom: 0;
}
h5, .h5 {
    font-size: 16px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

.first {
    margin-top: 0;
}
h6, .h6 {
    font-size: 13px;
}

.info-popover-group .info-popover {
    display: none;
    position: absolute;
    z-index: 1010;
    width: 400px;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#0092b4 0%,#466eb7 100%);
    background-image: linear-gradient(to bottom,#0092b4 0%,#466eb7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0092B4',endColorstr='#FF466EB7',GradientType=0);
    padding: 25px 30px;
    border: 0 solid rgba(11,11,14,0.75);
    top: 100%;
    top: calc(100% + 13px);
    left: -100px;
}
.arrow_box {
    position: relative;
    background: #0092b4;
    border: 1px solid transparent;
}

.info-popover-group .info-popover-title {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.info-popover-group .info-popover-title h6.first {
    margin-top: -7px;
}
.first {
    margin-top: 0;
}
h6, .h6 {
    font-size: 13px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}


.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheetul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
Inherited from div.info-popover.arrow_box
.info-popover-group .info-popover {
    display: none;
    position: absolute;
    z-index: 1010;
    width: 400px;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#0092b4 0%,#466eb7 100%);
    background-image: linear-gradient(to bottom,#0092b4 0%,#466eb7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0092B4',endColorstr='#FF466EB7',GradientType=0);
    padding: 25px 30px;
    border: 0 solid rgba(11,11,14,0.75);
    top: 100%;
    top: calc(100% + 13px);
    left: -100px;
}
Inherited from div.info-popover-group
.info-popover-group {
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
Inherited from div.row.text-center
.text-center {
    text-align: center;
}
.text-center {
    text-align: center;
}
Inherited from section#team.tofade.site-wrapper
section#team {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background-color: #63EBF2;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
Inherited from body.pace-done
body {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Inherited from html
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::selection element
::selection {
    background: #9e6335;
    color: #fff;
    text-shadow: none;
}
Pseudo ::-webkit-scrollbar element
::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background: #fff;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.info-popover {
	max-height: 320px;
	overflow: scroll;
}

.info-popover-group:hover .info-popover {
    display: block
}

.info-popover-group .info-popover-title {
    border-bottom: 1px solid rgba(255,255,255,0.3)
}

.info-popover-group .info-popover-title h6.first {
    margin-top: -7px
}

.info-popover-group .info-popover-body {
    margin-top: .5em;
    font-size: 14px;
    text-align: left
}