section#about {
    overflow: hidden;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 16px;
		background-color:#CC6633  ;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

section#about small {
    color: #fff
}

section#about p {
    padding: 30px 0 40px;
    margin: 30px 110px 110px;
    text-align: center;
    background: url(../img/spacer-30x2-white.png) no-repeat top center
}

section#about .inner {
    background-color: rgba(27,23,28,0.7);
    transition-property: background-color;
    transition-duration: .4s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .4s
}

section#about .inner:hover {
    background-color: rgba(27,23,28,0.9)
}

section#about h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 10px;
    color: #fff
}

section#about h4 small {
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0 0 10px
}